# 0. Data Crunching

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/nicknochnack/Tensorflow-in-10-Minutes/main/Churn.csv')

In [3]:
X = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis=1))
y = df['Churn'].apply(lambda x: 1 if x=='Yes' else 0)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [5]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
1026,1,60,110.00,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,0,37,19.85,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2615,0,67,94.35,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5912,0,7,34.20,0,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3094,0,28,54.40,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
y_train.head()

1026    0
1004    0
2615    1
5912    0
3094    0
Name: Churn, dtype: int64

# 1. Import Dependencies

In [7]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

2022-08-23 15:04:43.982043: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-08-23 15:04:43.982103: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

# 2. Build and Compile Model

In [8]:
# model = Sequential()
# model.add(Dense(units=32, activation='relu', input_dim=len(X_train.columns)))
# model.add(Dense(units=64, activation='relu'))
# model.add(Dense(units=1, activation='sigmoid'))

# 3. Fit, Predict and Evaluate

# 4. Saving and Reloading